{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up page heaader to push ccon down -->
{% block page_header %} {% endblock%}

<!-- set up main content block -->
{% block content %}

<div class="row mt-5">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <div class="row profile-section">
      <div class="col-12 col-md-4 text-center">
        <!-- insert profile image here -->
        <img
          class="profile-img mb-5"
          src="static\img\profile-img.png" alt="Luke Munsch's profile image">
      </div>
      <div class="col-12 col-md-8">
        <p class="tech-text">
          I am a Technically-minded individual with knowledge of
          <span class="tech">HTML</span>, <span class="tech">CSS</span>,
          <span class="tech">Javascript</span>, <span class="tech">SQL</span>,
          and <span class="tech">Python</span> web development languages. I have
          created and encorporated my knowledge into a series of projects both
          during education as well as since completing my learning course.
        </p>
        <br />
        <p>
          Motivated, well-disciplined and adaptable, dedicated and
          focused whether on solo projects or integrated into a larger team. I
          always have an eagerness to learn to use and expand my knowledge.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>

{% endblock content %}
