@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.text-underline {
    text-decoration: underline;
    text-underline-position: under;
}

.text-justify {
    text-align: justify;
}

/* base.html styles */

body {
    background-color: rgb(240, 240, 240);
    background-size: cover;
    overflow-x: hidden;
    height: calc(100vh - 100px);
    width: 99.9%;
}

.top-header {
    color: aliceblue;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 220%;
    font-weight: 700;
    letter-spacing: 5px;
}

.subheader {
    color: aliceblue;
    font-family: 'Andika', Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 400;
}

.header-bar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid black;
}

.linkedin {
    font-family: 'Oswald', Arial, sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 100%;
}

.linkedin a {
    text-decoration: none;
    color: aliceblue;
}

.linkedin a:hover {
    color: rgb(20, 175, 0);
}

.menucontainer {
    height: 100px;
    margin-bottom: 0;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

#small-nav {
    margin: 0;
}

#small-nav li {
    padding: 0;
}

.personal-link:hover {
    color: rgb(20, 175, 0);
}

.name-btn {
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.name-btn a {
    height: 100px;
    color: aliceblue;
    text-decoration: none;
}

.name-btn a i {
    padding-top: 10px;
    font-size: 40px;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    height: 100px;
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    color: aliceblue;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

/*----------------------- Hover.css effects ---*/

.hvr-sweep-to-top:before {
    background: #25b818;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

/*------------------- Home styles ---*/

.profile-section {
    font-weight: 700;
    font-size: 130%;
    text-align: justify;
}

.profile-img {
    max-height: 350px;
    max-width: 100%;
    border: 2px solid black;
    text-align: center;
    align-items: center;
}

.tech-text {
    font-family: 'Andika', Arial, Helvetica, sans-serif;
}

.text-justify {
    text-align: justify;
}

.tech {
    color: rgb(20, 175, 0);
    font-weight: 700;
    text-transform: uppercase;
}

/*---------- resume page ---*/

.title-section {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 500;
    text-align: left;
}

.dark-band {
    padding: 2px;
}

.project-link {
    text-decoration: none;
    color: black;
}

.project-item {
    font-family: 'Andika', Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 10px;
    height: 70px;
    padding: 10px;
}

.project-item:hover {
    text-decoration: underline;
    text-underline-position: under;
    background-color: rgb(20, 175, 0);
    color: black;
}

/*---------- project details page ---*/

.language-list {
    font-size: 100%;
    font-weight: 400;
    text-transform: lowercase;
    color: rgb(20, 175, 0);
}

.qr-img {
    max-height: 100px;
}

.screengrab-img {
    max-width: 60%;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.screengrab-img:hover {
    opacity: 0.7;
}

.source-link {
    font-family: 'Oswald', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 100%;
}

.source-link a {
    text-decoration: none;
    color: aliceblue;
}

.source-link a:hover {
    color: rgb(20, 175, 0);
}

/* button for returning to previous page */
.return-button {
    text-decoration: none;
    background-color: rgba(14, 155, 1, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 42px;
    width: auto;
    position: fixed;
    bottom: 110px;
    left: 0px;
    padding: 5px;
    cursor: pointer;
}

.return-link {
    font-family: 'Oswald', Arial, sans-serif;
    text-decoration: none;
    color: aliceblue;
    font-weight: 200;
}

.return-text {
    font-size: 110%;
    padding-top: 2px;
    padding-left: 5px;
}

.return-link:hover {
    color: black;
}

.source-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    border: 1px solid aliceblue;
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
}


/*---------- modal for screengrab images ---*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;

    height: auto;
    max-width: 1200px;
}

.modal-content a {
    text-decoration: none;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(20, 175, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    max-height: 500px;
    align-items: center;
    text-align: center;
    display: none;
    max-width: 800px;
}

.mySlides img {
    max-width: 90%;
    max-height: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 300px;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.caption-container {
    text-align: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-top: 8px;
    z-index: 0;
}

img.demo {
    max-width: 100px;
    border-radius: 8%;
    border: 2px solid black;
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
    cursor: pointer;
}

/* ---------- Contact page --- */

.nav-link {
    font-family: 'Oswald', Arial, sans-serif;
    color: rgb(20, 175, 0);
}

.nav-link:hover {
    background-color: rgb(20, 175, 0);
    color: black;
    border: 2px solid black;
    border-bottom: 0px;
}

.tab-pane {
    margin-top: 20px;
}

.tab-pane {
    cursor: default;
}

.tab-content {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
}

.tab-content a {
    color: aliceblue;
    text-decoration: none;
}

.tab-content a:hover {
    text-transform: uppercase;
    color: rgb(15, 120, 0);
}

.social-link i {
    font-size: 50px;
    color: aliceblue;
}

.social-link i:hover {
    color: rgb(20, 175, 0);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.btn {
    border: 1px solid black;
}

.btn-green {
    background-color: #0b6103;
    color: aliceblue;
}

.btn-green:hover {
    background-color: #25b818;
}

.btn-danger:hover {
    background-color: red;
    color: black;
}

/* ---------- knowledge and skills --- */

.div-border {
    border-left: 2px solid black;
}

.ed-icon {
    font-size: 70%;
    margin-bottom: 3px;
}

.know-section-what {
    background-color: rgba(25, 60, 160, 0.7);
    color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.know-section-scenes {
    background-color: rgba(145, 20, 20, 0.7);
    color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.progress {
    position: relative;
    height: 25px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 3px;
    margin-right: 10px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: aliceblue;
    background-color: rgba(25, 25, 25, 0.2);
}


.progress-section {
    margin: 20px 0px;
}

/* ---------- education section --- */

.bg-orange {
    background-color: rgba(228, 137, 2, 0.8);
}

.bg-cyan {
    background-color: rgba(10, 148, 190, 0.5);
}

.ed-work-title {
    padding-left: 15px;
    padding-top: 10px;
}

.learn-item,
.work-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000000;
    border-left: 1px solid;
}

.work-item p,
.learn-item p {
    padding: 0;
    margin: 0;
}

.work-item::before,
.learn-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2em;
    top: 2em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.work-item::after,
.learn-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 1.6em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #353535;
}

.history-items {
    margin-bottom: 30px;
    border-radius: 0 8px 8px 0;
}

/*---------- media queries ---*/

@media (min-width: 767px) {
    .footer-container {
        padding-bottom: 90px;
    }
}

@media (max-width:767px) {
    .menuitem a h3 {
        font-size: 120%;
    }

    .title-section {
        text-align: center;
    }

    .return-button {
        top: 350px;
    }

    .return-text {
        display: none;
    }

    .footer-container {
        display: none;
    }

    .div-border {
        border: 0;
    }
}

@media (max-width: 700px) {
    .modal-content {
        width: 90%;
    }
}