<div class="row no-gutters">
        <div class="d-md-none col p-0">
          <ul id="small-nav" class="list-inline menucontainer row text-center">
            <li class="col-4 my-auto name-btn">
              <a href="{% url 'home' %}" class="personal-link">
                <i class="fas fa-hat-wizard"></i>
                <h5 class="menu-name">Luke Munsch</h5>
              </a>
            </li>
            <li class="col-4 menuitem my-auto">
              <a href="{% url 'home' %}" class="hvr-sweep-to-top"
                ><i class="fa fa-home" aria-hidden="true"></i
                ><span> Home</span></a
              >
            </li>
            <li class="col-4 menuitem my-auto">
              <a href="{% url 'education' %}" class="hvr-sweep-to-top"
                ><i class="fa fa-graduation-cap" aria-hidden="true"></i
                ><span> Knowledge and Education</span></a
              >
            </li>
            <li class="col-4 menuitem my-auto">
              <a href="{% url 'resume' %}" class="hvr-sweep-to-top"
                ><i class="fas fa-scroll" aria-hidden="true"></i
                ><span> Resume Portfolio</span></a
              >
            </li>
            <li class="col-4 menuitem my-auto">
              <a href="{% url 'contact' %}" class="hvr-sweep-to-top"
                ><i class="fas fa-mobile-alt" aria-hidden="true"></i
                ><span> Contact / Social</span></a
              >
            </li>
            <li class="col-4 menuitem my-auto">
              <a href="{% url 'hobbies' %}" class="hvr-sweep-to-top"
                ><i class="fas fa-dice-d20" aria-hidden="true"></i
                ><span> Hobbies and Interests</span></a
              >
            </li>
          </ul>
        </div>
      </div>