{% extends 'base.html' %} {% load static %} {% block page_header %} {% endblock
%} {% block content %}

<div class="container">
  <div class="row w-100">
    <div class="col title-section">
      <h3 class="my-3">Github Repositories</h3>
    </div>
    <div class="col-12 text-justify">
      During my course and studying with Code Institute I created numerous
      projects using the different languages and frameworks; here is a page
      linked directly to my Github so you can see what I worked on.
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock content %}
