{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up page heaader to push ccon down -->
{% block page_header %} {% endblock%}

<!-- set up main content block -->
{% block content %}

<div class="container">
  <div class="row w-100">
    <div class="col title-section">
      <h3 class="my-3">Contact Details</h3>
    </div>
    <div class="col-12 text-justify">
      Please feel free to reach out to me if you have a project or request. I am
      open for working on any type of project.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row my-5 text-center">
        <div class="col-8 offset-2 px-0">
          <nav>
            <div class="row nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="col-8 offset-2 col-sm-3 offset-sm-0 nav-link active"
                id="nav-call-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-call"
                type="button"
                role="tab"
                aria-controls="nav-call"
                aria-selected="true">
                Call Me
              </button>
              <button
                class="col-8 offset-2 col-sm-3 offset-sm-0 nav-link"
                id="nav-email-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-email"
                type="button"
                role="tab"
                aria-controls="nav-email"
                aria-selected="false">
                Email Me
              </button>
              <button
                class="col-8 offset-2 col-sm-3 offset-sm-0 nav-link"
                id="nav-linkedin-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-linkedin"
                type="button"
                role="tab"
                aria-controls="nav-linkedin"
                aria-selected="false">
                LinkedIn
              </button>
              <button
                class="col-8 offset-2 col-sm-3 offset-sm-0 nav-link"
                id="nav-dlcv-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-dlcv"
                type="button"
                role="tab"
                aria-controls="nav-dlcv"
                aria-selected="false">
                D/L CV
              </button>
            </div>
          </nav>
          <div class="tab-content py-5" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-call"
              role="tabpanel"
              aria-labelledby="nav-call-tab"
              tabindex="0">
              <p>
                <strong
                  >Call me if you would like to have a chat regarding a project
                  or site.</strong>
              </p>
              <a
                href="tel:+447584651987"
                onclick="return confirm('Head to phone app???')">
                <h4 class="text-center pb-3 custom-font">
                  <i class="fas fa-phone-alt fa-xs"></i> +447584651987
                </h4>
              </a>
            </div>
            <div
              class="tab-pane fade"
              id="nav-email"
              role="tabpanel"
              aria-labelledby="nav-email-tab"
              tabindex="0">
              <p>
                <strong
                  >If you prefer to send me an Email, then please send it
                  to:</strong>
              </p>
              <a
                onclick="return confirm('Head to E-mail app???')"
                href="mailto:lpmunsch@gmail.com?subject='Enquiry_For_Luke'">
                <h4 class="text-center custom-font-email pb-3">
                  <i class="fas fa-paper-plane fa-xs"></i> lpmunsch@gmail.com
                </h4>
              </a>
            </div>
            <div
              class="tab-pane fade"
              id="nav-linkedin"
              role="tabpanel"
              aria-labelledby="nav-linkedin-tab"
              tabindex="0">
              <p>
                <strong
                  >Feel free to reach out to me or just view my online LinkedIn
                  profile.</strong>
              </p>
              <h4>
                <a
                  href="https://www.linkedin.com/in/luke-munsch-b4696020/"
                  target="_blank">
                  <i class="fab fa-linkedin"></i> Luke Munsch - Profile</a>
              </h4>
            </div>
            <div
              class="tab-pane fade"
              id="nav-dlcv"
              role="tabpanel"
              aria-labelledby="nav-dlcv-tab"
              tabindex="0">
              <p>
                <strong
                  >Download a copy of my CV if you would like to know more about
                  myself and my history.</strong>
              </p>
              <a href="{% static 'cv/luke-munsch-cv-2023.pdf' %}" download="luke-munsch-cv-2023.pdf">
                <i class="fas fa-download"></i>
                <h4>Download CV</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5 source-container pb-2 mx-3">
        <div class="col-6 text-center social-link">
          <a href="https://www.facebook.com/LunchyMunschy" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>
        <div class="col-6 text-center social-link">
          <a href="https://github.com/lukemunsch" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </div>
      </div>
    </div>
    <h3 class="d-md-none text-center">OR...</h3>
    <div class="col-12 col-md-6 my-5 div-border">
      <h5 class="text-center">Want to Collaborate on a project?</h5>
      <p class="text-center">
        Fill out the form below and I'll get back to you!
      </p>
      <div class="center-form">
        <form id="contact-form" onsubmit="return sendMail(this);">
          <label for="fullname"><strong>Your Name</strong></label>
          <input
            type="text"
            name="name"
            id="fullname"
            class="form-control mb-3"
            placeholder="Name"
            required>
          <label for="contactnumber">
            <strong>Your Contact Number</strong>
          </label>
          <input
            type="text"
            name="contactnumber"
            id="contactnumber"
            class="form-control mb-3"
            placeholder="Contact Number"
            required>
          <label for="emailaddress">
            <strong>Your Email Address</strong>
          </label>
          <input
            type="email"
            name="emailaddress"
            id="emailaddress"
            class="form-control mb-3"
            placeholder="Email address"
            required>
          <label for="messagecontent"><strong>Your Message</strong></label>
          <textarea
            rows="5"
            name="messagecontent"
            id="messagecontent"
            class="form-control"
            placeholder="Add your message here"
            required></textarea>
          <div class="form-row text-center">
            <div class="col">
              <button type="submit" class="btn btn-green mt-3">
                Send Project Request
              </button>
              <button
                type="reset"
                class="btn btn-danger mt-3"
                onclick="resetForm()">
                Clear Form
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block postloadjs %} {{ block.super }}
<script src="{% static 'js/sendEmail.js' %}"></script>

{% endblock %}
