{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up page heaader to push ccon down -->
{% block page_header %} {% endblock%}

<!-- set up main content block -->
{% block content %}

<div class="container">
  <div class="row w-100">
    <div class="col title-section">
      <h3 class="my-3">Hobbies and Interests</h3>
    </div>
    <div class="col-12 text-justify">
      Aside from my work regarding web development, I also have a few other
      interests that keep me occupied.
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <p>Judo</p>
      <p>Console Gaming</p>
      <p>Socialising with close friends</p>
      <p>Reading Science Fiction/Fantasy Novels</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Additional Work Experience</p>
      <p>
        Eagle Radio (County Sounds) – This was a ten-week work experience as a
        production assistant for the presenter, Dave Johns, providing materials
        for quizzes and segments of the show. I also worked with Peter Gordon,
        providing a research material when it was required.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
