{% extends 'base.html' %}

<!-- set  up load static -->
{% load static %}

<!-- set up page heaader to push ccon down -->
{% block page_header %} {% endblock%}

<!-- set up main content block -->
{% block content %}

<div class="container">
  <div class="row w-100">
    <div class="col title-section">
      <h3 class="my-3">Hobbies and Interests</h3>
    </div>
    <div class="col-12 text-justify">
      Aside from web development, I have a few other interests that keep me
      occupied.
    </div>
  </div>
  <div class="container text-justify">
    <div class="row my-5">
      <div class="col-12 col-md-5 mb-3">
        <h5>Judo</h5>
        <p>
          I have been a practising Judo fighter since I was 9 or 10 years old,
          though I did take few years out when I started work. I am currently a
          brown belt and training to get my black belt. I always loved my Judo
          club so much that now I volunteer at the Budokan Judo club to help
          coach the next generations.
        </p>
      </div>
      <hr class="d-md-none">
      <div class="col-12 col-md-5 offset-md-1 mb-3">
        <h5>Console Gaming</h5>
        <p>I am a huge fan of Console games, ranging from RPG games, FPS, strategy and puzzle games. I primarily play
          Playstation, but am also a fan of a few certain mobile games as well.</p>
      </div>
      <hr>
      <div class="col-12 col-md-5 mb-3">
        <h5>Socialising with close friends</h5>
        <p>I enjoy spending time with many of my close friends, many of whom I have known for many years. I have met
          them through education as well as other social events, but we always have a laugh about what our families are
          getting up to these days.</p>
      </div>
      <hr class="d-md-none">

      <div class="col-12 col-md-5 offset-md-1">
        <h5>Reading Science Fiction/Fantasy Novels</h5>
        <p>Reading novels is a favoured past-time and I have a huge bookshelf comprised on numerous series. My favourite
          authors are mainly in the Fantasy genre, but i do have a few biographies on my shelves as well.</p>
      </div>
    </div>
    <hr>

    <div class="row mb-3">
      <div class="col">
        <h5>Additional Work Experience</h5>
        <p>
          Eagle Radio (County Sounds) – This was a ten-week work experience as a
          production assistant for the presenter, Dave Johns, providing
          materials for quizzes and segments of the show. I also worked with
          Peter Gordon, providing a research material when it was required.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}