{% extends 'base.html' %} {% load static %} {% block page_header %} 
{% endblock %} {% block content %}

<div class="container">
  <div class="row w-100">
    <div class="col title-section">
      <h3 class="my-3">Hobbies and Interests</h3>
    </div>
    <div class="col-12 text-justify">
      Aside from my work regarding web development, I also have a few other interests that keep me occupied.
    </div>
  </div>
  <div class="row">
    <div class="col">
        
    </div>
  </div>
</div>

{% endblock content %}
